#!/usr/sbin/nft -f


        chain operator-svc {
{% for svc in loadbalancer %}
# service name {{ svc.name }} namespace {{ svc.namespace }}

                meta iif {{ public_nic }} ip daddr {{ svc.ipaddr}} {{ svc.protocol }} dport {{ svc.port }} accept

{% endfor %}
        }


